In [154]:
import numpy as np
import pandas as pd
import datetime

In [172]:
mercury_data = pd.read_csv('/Users/wsy/Downloads/input000.txt', sep = '\t', header=None)
mercury_data.head()

                   0       1
0  1/3/2012 16:00:00   26.96
1  1/4/2012 16:00:00   27.47
2  1/5/2012 16:00:00  27.728
3  1/6/2012 16:00:00   28.19
4  1/9/2012 16:00:00    28.1

In [173]:
mercury_data.columns = ['Date','Readings']
dates = []
for i in mercury_data['Date']:
    dates.append(datetime.datetime.strptime(i, '%m/%d/%Y %H:%M:%S'))

In [174]:
mercury_data['Date'] = dates
mercury_data

                   Date Readings
0   2012-01-03 16:00:00    26.96
1   2012-01-04 16:00:00    27.47
2   2012-01-05 16:00:00   27.728
3   2012-01-06 16:00:00    28.19
4   2012-01-09 16:00:00     28.1
..                  ...      ...
245 2012-12-24 13:00:00    27.25
246 2012-12-26 16:00:00     27.2
247 2012-12-27 16:00:00    27.09
248 2012-12-28 16:00:00     26.9
249 2012-12-31 16:00:00    26.77

[250 rows x 2 columns]

In [175]:
indexes = [i for i in range(len(mercury_data['Readings'])) if 'Missing' in mercury_data['Readings'][i]]
indexes

[48,
 54,
 57,
 99,
 104,
 105,
 138,
 139,
 142,
 173,
 178,
 181,
 194,
 195,
 198,
 208,
 212,
 217,
 220,
 238]

In [176]:
readings = [None if 'Missing' in i else float(i) for i in mercury_data['Readings']]
mercury_data['Readings'] = readings

mercury_data.interpolate('linear', inplace=True)

In [179]:
pred = []
for i in indexes:
    pred.append(mercury_data['Readings'][i])

In [181]:
output_data = pd.read_csv('/Users/wsy/Downloads/output000.txt', sep = '\t', header=None)
output_data.head()
output_data.columns = ['actual']

In [185]:
(sum(output_data['actual'])/sum(pred))

0.9996696371444941